<form class="login-form" action="/login" method="post">
  <div class="form-field">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
  </div>
  <button type="submit">Login</button>
</form>
