<h1>New message form</h1>
<form action="/messages/new-message" method="post">
  <div class="form-field">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required />
  </div>

  <div class="form-field">
    <label for="text">Message</label>
    <input type="text" name="text" id="text" required />
  </div>

  <button>Post</button>
</form>
